* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --block-title: #1b1f27;
    --a-color: #52ae30;
}

/* core styles */
.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    clear: both;
}

.col-1, 
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10, 
.col-11,
.col-12 {
    float: left;
}

.right {
    float: right;
}

.col-1 { width: 6.5%;}
.col-2 {width: 15%;}
.col-3 {width: 23.5%;}
.col-4 {width: 32%;}
.col-5 {width: 40.5;}
.col-6 {width: 50%;}
.col-7 {width: 57.5%;}
.col-8 {width: 66%;}
.col-9 {width: 74.5%;}
.col-10 {width: 83%;}
.col-11 {width: 91.5%;}
.col-12 {width: 100%;}

a:hover {
    text-decoration: none;
}
/* core styles */


/* header-top section */
header {
    background-image: url(../images/m250engf7fipwpejgtoi3aq3ouswbl1r.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150vw;
    height: 550px;
}

.header-top {
    padding-top: 14px;
}

.header-p, a{
    font-size: 14px;
    font-weight: bold;
    color: #060606;
    margin-bottom: 0;
    color: white;
}

.all-phone {
    padding: 10px;
    padding-left: 0px;
}

.header-p {
    margin-right: 16px;
    vertical-align: middle;
}

.header-phone {
    vertical-align: bottom;
    margin-right: 9px;
}

.header-phone {
    display: inline-block;
}

.header-middle {
    display: inline-block;
    margin-left: 190px;
}

.header-middle a i {
    font-size: 20px;
    margin-right: 9px;
    margin-left: 10px;
    transition: all 0.3s;
}

.header-middle select {
    color: #52ae30;
    font-weight: 600;
    padding: 2px 9px;
    border-radius: 24px;
    outline-color: #006648;
    margin-left: 250px;
}

.header-middle i:hover {
    color: #71ab5c;
}

.svg:hover {
    color: #52ae30;
}

.header-search {
    margin-top: 18px;
}

.search-img {
    width: 75%;
    height: 65px;
    display: inline-block;
}

.header-search form {
    display: inline-block;
    margin-left: 60px;
}

.header-search input {
    border: none;
    border-radius: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1b1f27;
    font-family: sans-serif;
    font-size: 16px;
    height: 48px;
    padding: 11px 54px 11px 24px;
    width: 130%;
    background-color: #fff;
    position: relative;
    z-index: 4;
    vertical-align: bottom;
}

.search:focus {
    padding-left: 22px;
    border-radius: 22px;
    border: 2px solid #52ae30;
    color: #1b1f27;
    outline: none;
}

.login {
    float: right;
    background-color: #52ae30;
    border-radius: 24px;
    padding: 10px 2px;
    padding-left: 16px;
    padding-right: 16px;
}

.login-p {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
}

.head-menu  {
    margin-top: 120px;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 15px
}
 
.head-menu li {
    display: inline-block;
    padding: 0em 1.9em;
}

.main-navigations {
    margin-left: 24px;
}

.head-menu li a {
    color: black;
    font-weight: 600;
    font-size: 13px;
    padding: 0 5px;
    transition: all 0.2s;
}

.head-menu li a:hover {
    color: #52ae30;
}

.header-bottom {
    margin-top: 70px;
    padding-left: 16px;
    line-height: 34px;
}

.bottom-font {
    color: white;
    font-weight: 700;
}

.bottom-btn {
    background-color: #f60;
    border-radius: 32px;
    color: #fff;
    line-height: 24px;
    padding: 16px 40px;
    border: none;
}

.bottom-btn:hover {
    background-color: #74bf1e;
}
/* header-top section */

/* main - section */
.container-main {
    width: 1440px;
    margin: 0 auto;
}

.main-img {
    display: inline-block;
}

.main-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 14px;
}

.main-content h1 a {
    color: black;
    font-size: 24px;
}

.main-href {
    font-size: 18px;
    margin-top: 4px;
    line-height: 42px;
    font-weight: 400;
    color: #52ae30;
    transition: color 250ms ease 0s;
}

.main-box {
    padding: 48px 90px;
    width: 670px;
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    border: 1px solid #e4e8e7;
    background-color: #fff;
    border-radius: 24px;
    -webkit-box-shadow: 0 16px 48px rgba(73,92,136,.15);
    box-shadow: 0 16px 48px rgba(73,92,136,.15);
    margin: 20px 0px;
    box-sizing: border-box;
    margin-left: 50px;
}


/* bank-news */
.bank-news {
    margin-bottom: 96px;
    padding: 48px 0;
    background-color: #eceff6;
    height: 520px;
}

.bank-title h1 {
    color: #1b1f27;
    display: inline-block;
}

.bank-title {
    margin-bottom: 10px;
}

.other-news a {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #1b1f27;
    font-weight: bold;
    float: right;
}

.other-news a:hover {
    color: #52ae30;
}

.other-news a svg {
    opacity: 0.5;
    margin-top: 0;
    margin-left: 18px;
    transition: margin-left 250ms ease 0s;
}

.other-news a:hover svg {
    margin-left: 30px;
    opacity: 1;
}

.bank-news__img {
    background-image: url(..//images/q82c1xa8wjgddzehtsq216onb0rk0my2.jpg);
    min-height: 200px;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bank-box {
    padding-top: 24px;
}

.bank-news__content {
    background-color: white;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.bank-news__content p {
    font-size: 17px;
    line-height: 28px;
    font-weight: bold;
    color: #000;
    min-height: 80px;
    max-height: 80px;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 14px;
}

.bank-news__meta {
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px solid #cbe0f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    padding-left: 14px;
}

.bank-box {
    max-width: 33.33333%;
    padding: 0px 18px;
    position: relative;
    margin-top: 24px;
    margin-right: 14px;
    padding-left: 0px;
}

.bank-box a:hover p {
    color: #006648;
}

.bank-news__meta svg {
    position: relative;
    right: -35px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease 0s;
}

.bank-box:hover .bank-news__meta svg {
    right: 0;
    opacity: 1;
    visibility: visible;
}

/* valute section */
.container-valute {
    width: 1290px;
    margin: 0 auto;
}

.valute-box {
    box-shadow: -2px -2px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 36px;
    height: 440px;
    margin-bottom: 100px;
}

.main-valute__box {
    background-color: #f4f9ff;
    box-shadow: none;
    padding: 48px 60px;
    position: relative;
    height: 440px;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    border-right: 1px solid #d0d0d0;
}

.main-valute__title h5 {
    padding: 0;
    font-size: 24px;
    color: #000;
    margin-bottom: 10px
}

.main-valute__title span {
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: #666;
}

.main-valute__title {
    padding-bottom: 18px;
    margin-bottom: 38px;
    border-bottom: 1px solid rgb(255 255 255 / 0.3);
}

.main-usd {
    display: inline-block;
    width: 100%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-usd p {
    font-size: 24px;
    font-weight: bold;
    color: #666;
    line-height: 29px;
    margin-bottom: 22px;
    display: inline-flex;
}

.complete {
    display: inline-block;
}

.section-left {
    display: inline-block;
}

.amount {
    display: inline-block;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: #000;
    padding-bottom: 0;
    margin-bottom: 30px;
    margin-left: 30px;
}

.eur {
    margin-left: 46px;
}

.complete a {
    text-transform: uppercase;
    color: #006648;
    font-weight: bold;
    float: right;
    margin-right: -50px;
}

.complete a:hover {
    color: #71ab5c;
    text-decoration: none;
}

.main-bank__box {
    background-color: #f4f9ff;
    box-shadow: none;
    padding: 48px 60px;
    position: relative;
    height: 440px;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    border-right: 1px solid #d0d0d0;
}

.main-btn {
    display: inline-flex;
    padding: 8px 16px 8px 12px;
    background-color: #fff;
    font-size: 22px;
    line-height: 27px;
    color: #666;
    border-radius: 12px;
    background-color: #fff;
    color: #006648;
    border: none;
    margin-right: 15px;
    box-sizing: border-box;
    transition: all 0.5s;
    font-weight: 600;
    margin-left: 110px;
}

.main-valute__title button img {
    margin-left: 14px;
    margin-top: 8px;
}

.btn-right {
    margin-left: 15px;
}

.main-btn:hover {
    background-color: #52ae30;
    color: white;
}

/* .main-all__box:hover {
    opacity: 1;
    transform: translateY(0);
} */

/* .main-all__box {
    opacity: 1;
    transform: translateY(100px);
    transition: all 1s;
} */

.main-item {
    margin-left: 10px;
    border-bottom: 1px solid rgba(12, 84, 160, 0.2);
    margin-bottom: 18px;
    padding: 5px 0
}

.main-item input {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: #111;
    text-align: right;
    border: none;
    background-color: #f4f9ff;
    margin-left: 20px;
    margin-right: 20px;
}

.main-item span {
    font-size: 18px;
    line-height: 38px;
    font-weight: 400;
    color: #666;
    white-space: nowrap;
    display: inline-block;
    margin-left: 0px;
}

.form-span {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: #111;
}

.sum span  {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #111;
}

.main-item-left {
    display: inline-block;
}

.main-item-right {
    display: inline-block;
    margin-left: 180px;
}

.perevod {
    margin-top: 40px;
}

.perevod p {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 0
}

.logo a {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    color: #006648;
    font-weight: bold;
}

.logo svg {
    opacity: 0.5;
    margin-top: 0;
    margin-left: 18px;
    transition: 250ms ease 0s;
}

/* mobile */
.main-mobile {
    background-image: url(../images/phonebgbanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 100px;
}

.main-mobile__box {
    padding: 48px 60px;
    background-color: #f4f9ff;
    opacity: 0.7;
    height: 500px;
}

.mobile-title h3 {
    margin: 0;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 36px;
    position: relative;
    opacity: 0.8;
}

.item {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    background: url(../images/like2.png);
    background-repeat: no-repeat;
    padding-left: 38px;
    padding-bottom: 15px;
    display: block;
}

.photo {
    margin-top: 50px;
}

.photo a {
    margin-left: 16px;
}

.photo a:hover {
    opacity: 0.8;
}

.photo a {
    transition: all 0.5s;
}


/* /main - section */